/* Red Theme */
:root {
	--color-red-1: #ffaeae;
	--color-red-2: #ff9797;
	--color-red-3: #ff8484;
	--color-red-4: #ff5e5e;
	--color-red-5: #ff4343;
}

/* Black */
:root {
	--color-black-1: #000000;
	--color-black-2: #313131;
	--color-black-3: #6e6e6e;
	--color-black-4: #a0a0a0;
}

/* Gold */
:root {
	--color-gold-1: #ffcd8b;
	--color-gold-2: #ffb656;
	--color-gold-3: #ff9e2f;
}

/* semantic colour variables for this project */
:root {
	--color-white: #ffffff;
	/**Lowest number = lightest colour*/
	--base-color-1: var(--color-red-1);
	--base-color-2: var(--color-red-2);
	--base-color-3: var(--color-red-3);
	--base-color-4: var(--color-red-4);
	--base-color-5: var(--color-red-5);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	position: relative;
	font-weight: normal;
}

body {
	min-height: 100vh;
	max-width: 100vw;
	overflow-x: hidden;
	font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
